$icomoon-font-family: "udlvb" !default;
$icomoon-font-path: "/templates/udlvb/font" !default;

$fa-phone: "\e900";
$fa-location: "\e901";
$fa-cart: "\e902";
$fa-print: "\e903";
$fa-cancel: "\e904";
$fa-home: "\e905";
$fa-search: "\e906";
$fa-facebook: "\e907";

