html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto minmax(120px, 150px);
    grid-template-areas:"header"
                        "main"
                        "footer";
    grid-gap: 1rem;
    
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    position: relative;
}

footer {
    grid-area: footer;

}